:root {
  --sz: 100%;
  --hgt: 2.5rem;
  --svh: 100dvh;
  --pd: 1.125rem;
  --rd: .5rem;
  --unit: 20;
  --fnt-sz: calc((var(--pd) * var(--unit)) / 5);
  --fnt-play: 'Play', sans-serif;
  --fnt-abel: 'Abel', sans-serif;
  --add-color: hsl(198 78% 41%);
  --trash-color: hsl(360 67% 51%);
  --dark-color: hsl(227 55% 12%);
  --light-color: hsl(210 11% 96%);
  --light-gray: hsl(192, 15%, 94%);
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
*::before,
*::after { box-sizing: border-box; }

:where(html, body) { margin: 0; }
:where(a, h1, button, li) { overflow-wrap: break-word; }

body {
  color: var(--dark-color);
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: greyscale;
  background: var(--light-gray);
  &.dark--mode {
    color: var(--light-color);
    background: var(--dark-color)
  }
}

button {
  border: 0;
  border-radius: .35rem;
  background-color: transparent;
  cursor: pointer; 
}

:where(.container, .header, .todo--list, .list--items, .btn, form, .item, .toggle--container) {
  display: flex;
  align-items: center;
  justify-content: center;
}
:where(.container, .todo--list) { flex-direction: column }
:where(.container, .form--container, .header, .list--items, .todo--input, .item) { width: var(--sz) }

.todo { font: normal calc(var(--pd) * 1.2) var(--fnt-abel) }

.btn {
  width: 5rem;
  height: var(--hgt);
  padding: calc(var(--pd) * .285) var(--pd);
  font-size: var(--pd);
  color: var(--light-color);
  box-shadow: .1vmin .2vmin .25vmin rgba(0,0,0,.85);
  .icon { pointer-events: none; }
  &:active { transform: scale(.99); }
}

.add--btn { 
  background: linear-gradient(
    180deg,
    hsl(195, 87%, 58%),
    hsl(201, 79%, 50%),
    var(--add-color)
  );
  box-shadow: 1.25vmin 1.25vmin .25lh hsl(195, 87%,58%) inset, 1vmin 1vmin 0 0 rgba(0,0,0,.7) inset, -1.25vmin -1.25vmin .25lh hsl(206,100%,37%) inset, -1vmin -1vmin 0 0 rgba(0,0,0,.7) inset, 0 0 0 .125lh rgba(0,0,0,.75);
  text-shadow: .25vmin .35vmin .05lh rgba(0,0,0,.7);
  &.dark--mode {
    box-shadow: 1.25vmin 1.25vmin .25lh hsl(195, 87%,58%) inset, 1vmin 1vmin 0 0 rgba(0,0,0,.7) inset, -1.25vmin -1.25vmin .25lh hsl(206,100%,37%) inset, -1vmin -1vmin 0 0 rgba(0,0,0,.7) inset, 0 0 0 .125lh rgba(255,255,255,1);
  }
}

.trash--btn {
  --darken: hsl(0 86% 37%);
  padding-block: .35rem; 
  background: linear-gradient(
    180deg,
    hsl(360, 77%, 58%),
    var(--trash-color),
    var(--darken)
  );
  box-shadow: 1.25vmin 1.25vmin .25lh hsl(360, 77%, 58%) inset, 1vmin 1vmin 0 0 rgba(0,0,0,.7) inset, -1.25vmin -1.25vmin .25lh hsl(371, 98%, 39%) inset, -1vmin -1vmin 0 0 rgba(0,0,0,.7) inset, 0 0 0 .125lh rgba(0,0,0,.75);
  text-shadow: .25vmin .35vmin .05lh rgba(0,0,0,.7); 
}

.dark--mode__button {
  width: 3rem;
  height: 1.75rem;
  position: relative;
  background: var(--light-gray);
  border-radius: var(--hgt);
  box-shadow: .25vmin .25vmin .125lh rgba(34, 3, 3, 0.5) inset, -.15vmin -.15vmin .05lh rgba(250, 249, 249, 0.5) inset;
  &::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    position: absolute;
    top: .125rem;
    right: .125rem;
    background: var(--dark-color);
    box-shadow: .5vmin .5vmin .25lh hsl(227, 60%,12%) inset, .25vmin .25vmin 0 0 rgba(0,0,0,.7) inset, -.5vmin -.5vmin .25lh hsl(205, 87%, 17%) inset, 0 0 0 .125lh rgba(255, 255, 255, 0.75) inset;
    border-radius: var(--hgt);
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &.active::before {
    left: .125rem;
    background: hsl(360, 77%, 60%);
    box-shadow: .5vmin .5vmin .25lh hsl(360, 77%,60%) inset, .25vmin .25vmin 0 0 rgba(0,0,0,.7) inset, -.5vmin -.5vmin .25lh hsl(5, 72%, 43%) inset, 0 0 0 .125lh rgba(0, 0, 0, 0.75) inset;
  }
}

.container {
  position: relative;
  .header {
    justify-content: space-between;
    padding-block: var(--pd);
    padding-inline: var(--hgt);
    & .heading {
      margin-block-start: 0;
      margin-block-end: var(--pd);
      font: 700 clamp(calc(var(--fnt-sz) * .15), 5vw, calc(var(--fnt-sz) * .5)) var(--fnt-play);
      & span {
        font-family: var(--fnt-abel);
        font-weight: lighter
      }
    }
  }

  .form--container {
    max-width: 30rem;
    & form {
      gap: 0 var(--rd);
      margin-block-start: var(--hgt);
      .todo--input { 
        width: min(50vw, var(--sz));
        height: var(--hgt);
        padding-inline-start: var(--rd);
        background: var(--light-gray);
        box-shadow: .125vmin .125vmin .1lh rgba(0,0,0,.5) inset, -.25vmin -.25vmin .15lh rgba(255,255,255,.75) inset;
        border: none;
        border-radius: calc(var(--rd) * .5);
        &:focus { 
          outline: none;
          box-shadow: 0 0 .15lh rgba(0,0,0, .25) inset;
        } 
      }
    }
    .todo--list {
      padding: 0;
      padding-block-start: var(--rd);
      .list--items { 
        justify-content: space-around;
        width: 28rem;
        margin-block-end: var(--rd);
        position: relative;
        transition: all 1000ms cubic-bezier(0.75, 1.75, 0.187, 0.67);
        .check {
          appearance: none;
          display: grid;
          place-content: center;
          width: var(--hgt);
          height: var(--hgt);
          border: calc(var(--rd) * .5) solid var(--trash-color);
          border-radius: var(--rd);
          background: var(--light-gray);
          box-shadow: .125vmin .125vmin .1lh rgba(0,0,0,.5) inset, -.25vmin -.25vmin .15lh rgba(255,255,255,.75) inset;
          &::before {
            content: '';
            width: calc(var(--hgt) * .7);
            height: calc(var(--hgt) * .7);
            background: var(--trash-color);
            transform-origin: center;
            transform: scale(0);
            transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          &:checked::before { transform: scale(.9) }
        }
        .item { 
          list-style: none;
          justify-content: flex-start;
          width: min(70vw, var(--sz));
          height: var(--hgt);
          padding-inline: var(--rd);
          padding-block: calc(var(--rd) * .45);
          margin-inline-end: var(--rd);
          border-radius: calc(var(--rd) * .45);
          color: var(--light-color);
          background-color: hsl(371, 98%, 39%);
          font-size: .95rem;
          box-shadow: .1vmin .2vmin .25vmin rgba(0,0,0,.85);
          &.line--through {
            position: relative;
            color: var(--dark-color);
            font-weight: 700;
            transition: 300ms font-weight ease;
            opacity: .75;
            &::before {
              content: '';
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              width: min(70vw, calc(var(--sz) * .95));
              height: .25lh;
              background: hsl(0, 96%, 18%);
              border-radius: var(--rd);
            }
          }
        }
        &.fall {
          transform-origin: right bottom;
          transform: rotateZ(-25deg) translate(-3rem, 6rem);
          opacity: 0;
        }
      }
    }
  }

  .alert {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: min(60vw, var(--sz));
    height: auto;
    position: absolute;
    top: min(calc(15vw * 2), 14rem);
    background: var(--trash-color);
    border-radius: var(--rd);
    .alert--msg {
      grid-column: 1 / -1;
      grid-row: 2;
      padding: var(--pd);
      font: normal clamp(calc(var(--fnt-sz) * .25), 5vw, var(--fnt-sz)) var(--fnt-abel);
      color: var(--light-color);
    }
    .close--alert {
      grid-column: 3;
      grid-row: 1;
      width: var(--pd);
      height: var(--pd);
      padding: var(--pd);
      margin-block-start: var(--pd);
      background: none;
      border-radius: 0;
      box-shadow: none;
      font-size: calc(var(--pd) * 1.5)
    }
  }
}